body{
    background-color: black;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
}

#ber_cim{
    font-size: xx-large;
    color: red;
    margin: 0px;
    padding-top: 40px;
    padding-left: 20px;
}

#ber_felsoszoveg{
    font-size: larger;
    margin: 0px;
    padding-top: 30px;
    padding-left: 40px;
}
hr{
    color: red;
}

#ber_vonal1{
    width: 100%;
}

.ber_vonalak{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.ber_oszlopok{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
}

#ber_oszlop_1{
    margin-left: auto;
    margin-right: auto;
    
}

#ber_oszlop_2{
    margin-left: auto;
    margin-right: auto;
    
}

#ber_oszlop_3{
    margin-left: auto;
    margin-right: auto;
    
}

#ber_oszlop_4{
    margin-left: auto;
    margin-right: auto;
    
}

.ber_felsorolas{
    padding-left: 25px;
}

.ber_vas_cim{
    text-align: center;
    height: 10px;
}

.ber_gomb_div{
    margin-left: auto;
    margin-right: auto;
}

.ber_gomb{
    border: 2px solid white;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 14px 28px;
    font-size: larger;
   
}

.ber_gomb_link{
    color: white;
    text-decoration: none;
}

.ber_szemelyi{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding-left: 15%;
    padding-right: 15%;
}

#ber_szem_bal{
    
}

#ber_szem_embik{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    text-align: center;
    height: 50px;
}

.embik_kepek_div{
    
}

.embik_kepek{
   height: 50px;

}

.embik_embik{
    height: 50px;
}

#ber_szem_cim{
    width: 220px;
    height: 10px;
}

#ber_szem_vonal{
    color: red;
    width: 220px;
}

#ber_szem_kep{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 630px){

}
