body{
    background-color: black;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
}

#ber_cim{
    font-size: xx-large;
    color: red;
    margin: 0px;
    padding-top: 40px;
    padding-left: 20px;
}

#ber_felsoszoveg{
    font-size: larger;
    margin: 0px;
    padding-top: 30px;
    padding-left: 40px;
    width: 28%;
    text-align: left;
}

#ber_felszov_div{

}

hr{
    color: red;
}

#ber_vonal1{
    width: 100%;
}

.ber_vonalak{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.ber_oszlopok{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
}

#ber_oszlop_1{
    margin-left: auto;
    margin-right: auto;
    
}

#ber_oszlop_2{
    margin-left: auto;
    margin-right: auto;
    
}

#ber_oszlop_3{
    margin-left: auto;
    margin-right: auto;
    
}

#ber_oszlop_4{
    margin-left: auto;
    margin-right: auto;
    
}

.ber_felsorolas{
    padding-left: 25px;
}

.ber_vas_cim{
    text-align: center;
    height: 10px;
}

.ber_gomb_div{
    margin-left: auto;
    margin-right: auto;
}

.ber_gomb{
    border: 2px solid white;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 14px 28px;
    font-size: larger;
   
}

.ber_gomb_link{
    color: white;
    text-decoration: none;
}

.ber_szemelyi{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto;
    padding-left: 15%;
    padding-right: 15%;
}

#ber_szem_bal{
    width: 70%;
}

#ber_szem_jobb{
    height: 300px;
}

#ber_szem_embik{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 0px;
    text-align: center;
    height: 50px;
}

.embik_kepek_div{
    
}

.embik_kepek{
   height: 50px;

}

.embik_embik{
    height: 50px;
}

#ber_szem_cim{
    width: 220px;
    height: 10px;
}

#ber_szem_vonal{
    color: red;
    width: 220px;
}

#ber_szem_kep{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 740px){
    #ber_felsoszoveg{
        float: none;
        text-align: center;
        width: 100%;
        padding-left: 0px;
        
    }


    .ber_oszlopok{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 0px;
    }

    #ber_oszlop_1{
        width: 90%;
    }
    
    #ber_oszlop_2{
        width: 90%;
    }
    
    #ber_oszlop_3{
        width: 90%;
    }
    
    #ber_oszlop_4{
        width: 90%;
    }

    .ber_gomb_div{
        text-align: center;
    }

    .ber_felsorolas{
        
    }
}

@media only screen and (max-width: 500px){
    .ber_oszlopok{
        display: block;
    }

    .ber_szemelyi{
        display: block;
        grid-template-columns: auto;
    }
}






/*------------------------lablec---------------------*/

#lablec{
    font-size: 30px;
}

#lablec_vonal{
    color: red;
    
}

#lablec_vonal_1{
    color: red;
    padding-top: 30px;
}


.grid-container_lablec{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}

.lablec_kep{
    height: 90%;
    width: 90%;
    vertical-align: middle;
    align-items: center;
}

.grid-item__lablec{
    padding-top: 20px;
}

#lepj_kapcs{
    padding-top: 30px;
    text-align: center;
}

#cim{
    text-align: center;
    margin-top: 100px;
}

#telfon{
    width: 45%;
    float: left;
    text-align: right;
}

#email{
    width: 45%;
    float: right;
}

#tel_email{
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (max-width:900px)
{
    .grid-container_lablec{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }
    .lablec_kep{
        height: 80%;
        width: 80%;
    }
    .lablec_kep_div{
        vertical-align: middle;
        text-align: center;
        height: 100px;
    }
    #insta_lablec{
        height: 60%;
        width: 55%;
        margin-top: 20px;
    }
    #x_lablec{
        height: 70%;
        width: 60%;
        margin-top: 20px;
    }
    #telfon{
        text-align: center;
        float: none;
        width: 100%;
    }
    #email{
        float: none;
        width: 100%;
        text-align: center;
    }
    #cim{
        margin-top: 0px;
    }

}

@media only screen and (max-width: 650px)
{
    .grid-container_lablec{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        font-size: 20px;
    }
    .lablec_kep_div{
        vertical-align: middle;
        text-align: center;
        height: 80px;
    }
    #x_lablec{
        height: 70%;
        width: 60%;
        margin-top: 10px;
    }
    #insta_lablec{
        height: 60%;
        width: 55%;
        margin-top: 10px;
    }
    
}

@media only screen and (max-width: 500px)
{
    .grid-item__lablec{
        font-size: 0.000001px;
        visibility: collapse;
    }
    .grid-container_lablec{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        padding-right: 0px;

    }
    #lepj_kapcs{
        font-size: 20px;
    }
    #tel_email{
        font-size: 20px;
        text-align: center;
        margin-bottom: 0px;
        width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    #cim{
        font-size: 20px;
        margin-top: 30px;
    }
    #telfon{
        text-align: center;
        float: none;
        width: 100%;
    }
    #email{
        float: none;
        width: 100%;
    }
}

