body{
    background-color: black;
    color: white;
}

#ber_cim{
    font-size: xx-large;
    color: red;
    margin: 0px;
    padding-top: 40px;
    padding-left: 20px;
}

#ber_felsoszoveg{
    font-size: larger;
    margin: 0px;
    padding-top: 30px;
    padding-left: 40px;
}
hr{
    color: red;
}

#ber_vonal1{

}

.ber_vonalak{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.ber_oszlopok{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
}

.ber_vas_cim{
    text-align: center;
}

.ber_gomb_div{
    margin-left: auto;
    margin-right: auto;
}

.ber_gomb{
    border: 2px solid white;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 14px 28px;
    font-size: larger;
   
}

.ber_gomb_link{
    color: white;
    text-decoration: none;
}

.ber_vonal_alatt{
   
}

