body{
    background-color: black;
    color: white;
    margin: 0px;
}

#fizetes_focim{
    font-size: xx-large;
    color: red;
    margin: 0px;
    text-align: center;
    margin-top: 30px;
}

#fizetes_focim_vonal{
    color: red;
    width: 100%;
}

#felso_divek{
    margin-left: 15%;
    margin-right: 15%;
}

.felso_divek_divek{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.grid_felso{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    
}

#email_div{
    
}





#checkbox_div{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}


.form-control{
    text-align: center;
    width: 100%;
}

.kartya_hoz_divek{
    text-align: center;
}

.paypalxgoogle{
    height: 50px;
}



#fizetes_fizetes{
    font-size: xx-large;
    color: red;
    margin: 0px;
    text-align: center;
}

#kartya_3as_sor{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}


.radiobutton{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radiobutton input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
}

.radiobutton:hover input ~ .checkmark{
    background-color: #ccc;
}
  
.radiobutton input:checked ~ .checkmark{
    background-color: red;
}

.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

.radiobutton input:checked ~ .checkmark:after{
    display: block;
}

.radiobutton .checkmark:after{
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}







#kartya_hozzaadas{
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;

}

.kartya_hoz_divek{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
}

#kartyahoz_kszam_div{
    margin-top: 20px;
}

#kartyahoz_nev_div{
    margin-bottom: 20px;
}

#fizu_gomb_div{
    text-align: center;
}

#fizu_gomb{
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 14px 28px;
    font-size: larger;
}

#fizu_gomb_link{
    color: white;
    text-decoration: none;
}







/*lablec css*/

#lablec{
    font-size: 30px;
}

#lablec_vonal{
    color: red;
    
}

#lablec_vonal_1{
    color: red;
    padding-top: 30px;
}


.grid-container_lablec{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}

.lablec_kep{
    height: 90%;
    width: 90%;
    vertical-align: middle;
    align-items: center;
}

.grid-item__lablec{
    padding-top: 20px;
}

#lepj_kapcs{
    padding-top: 30px;
    text-align: center;
}

#cim{
    text-align: center;
    margin-top: 100px;
}

#telfon{
    width: 45%;
    float: left;
    text-align: right;
}

#email{
    width: 45%;
    float: right;
}

#tel_email{
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (max-width:900px)
{
    .grid-container_lablec{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }
    .lablec_kep{
        height: 80%;
        width: 80%;
    }
    .lablec_kep_div{
        vertical-align: middle;
        text-align: center;
        height: 100px;
    }
    #insta_lablec{
        height: 60%;
        width: 55%;
        margin-top: 20px;
    }
    #x_lablec{
        height: 70%;
        width: 60%;
        margin-top: 20px;
    }
    #telfon{
        text-align: center;
        float: none;
        width: 100%;
    }
    #email{
        float: none;
        width: 100%;
        text-align: center;
    }
    #cim{
        margin-top: 0px;
    }

}

@media only screen and (max-width: 650px)
{
    .grid-container_lablec{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        font-size: 20px;
    }
    .lablec_kep_div{
        vertical-align: middle;
        text-align: center;
        height: 80px;
    }
    #x_lablec{
        height: 70%;
        width: 60%;
        margin-top: 10px;
    }
    #insta_lablec{
        height: 60%;
        width: 55%;
        margin-top: 10px;
    }
    
}

@media only screen and (max-width: 500px)
{
    .grid-item__lablec{
        font-size: 0.000001px;
        visibility: collapse;
    }
    .grid-container_lablec{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        padding-right: 0px;

    }
    #lepj_kapcs{
        font-size: 20px;
    }
    #tel_email{
        font-size: 20px;
        text-align: center;
        margin-bottom: 0px;
        width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    #cim{
        font-size: 20px;
        margin-top: 30px;
    }
    #telfon{
        text-align: center;
        float: none;
        width: 100%;
    }
    #email{
        float: none;
        width: 100%;
    }
}

/* navbar start */

.offcanvas{
    --bs-offcanvas-width: 200px;
}

.navbar{
    background: url(/kepek/Iron_HavenLogo.png) no-repeat;
    background-size: 220px 100%;
    background-position: 50%;
}

nav .container-fluid div:last-child{
    height: 120px;
}

.navbar>.container-fluid{
    justify-content: flex-end;
}

.navbar-toggler{
    margin: 50% 0px;
}

.nav-link{
    font-size: 24px;
}

.flex-fill > a{
    color: white;
    --bs-nav-link-hover-color: white;
}

li > .active{
    font-size: 32px;
}

.offcanvas-header{
    height: 120px;
}

@media only screen and (max-width: 767px){
    li > .active{
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
        --bs-border-opacity: 1;
        border-color: rgba(var(--bs-danger-rgb), var(--bs-border-opacity)) !important;
        border-width: 3px !important;
        --bs-nav-link-padding-x: 1.35rem;
        --bs-nav-link-padding-y: 0rem;
        width: fit-content;
    }

    nav .container-fluid div:last-child{
        height: 100%;
    }
    
    .modal-body > h3{
        justify-self: center;
    }

    .input-group{
        margin: 25px 0px;
        width: 550px;
        justify-self: center;
    }

    .input-group-text{
        font-size: 1rem;
    }

    .form-control{
        font-size: 1rem;
    }

}

@media only screen and (max-width: 567px)
{
    .modal-body > h3{
        justify-self: center;
    }

    .input-group{
        margin: 25px 0px;
        width: 400px;
        justify-self: center;
    }

    .input-group-text{
        font-size: 0.8rem;
    }

    .form-control{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 410px)
{
    .modal-body > h3{
        justify-self: center;
    }

    .input-group{
        margin: 25px 0px;
        width: 300px;
        justify-self: center;
    }

    .input-group-text{
        font-size: 0.7rem;
    }

    .form-control{
        font-size: 0.7rem;
    }
    
    nav > .container-fluid{
        padding: 6px;
    }
}
/* navbar end */

