
/*h1*/
h1{
    color: red;
}
/*body*/
body{
    color: white;
    background-color: black;
}
/*Napi kihívás*/
#NapiCim{
    text-align: center;
    margin-bottom: 30px;
}
#NapiKi{
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
    color: white;
}

/*Csapatunk*/
.carousel-inner img{
    height: 500px;
    margin-left: 50px;
    margin-right: 50px;

}
.w-100 {
    width: 800px;
}

.modal-content{
    background-color: black;
}

#NKbutton{
    text-align: center;
    color: black;
}
#NKbutton button{
    text-align: center;
    color: black;
}

#lablec{
    font-size: 30px;
}

#lablec_vonal{
    color: red;
    
}

#lablec_vonal_1{
    color: red;
    padding-top: 30px;
}


.grid-container_lablec{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}

.lablec_kep{
    height: 90%;
    width: 90%;
    vertical-align: middle;
    align-items: center;
}

.grid-item__lablec{
    padding-top: 20px;
}

#lepj_kapcs{
    padding-top: 30px;
    text-align: center;
}

#cim{
 text-align: center;
}

#telfon{
    width: 45%;
    float: left;
    text-align: right;
}

#email{
    width: 45%;
    float: right;
}

#tel_email{
    margin-left: auto;
    margin-right: auto;
}

#lablec .container-fluid div{
    height: 70px;
}







.offcanvas{
    --bs-offcanvas-width: 200px;
}

ul{
    background: url(/kepek/Iron_HavenLogo.png) no-repeat;
    background-size: 20%;
    background-position: 50%;
}

nav .container-fluid div{
    height: 120px;
}
