
/*h1*/
h1{
    color: red;
}
/*body*/
body{
    color: white;
    background-color: black;
}
/*Napi kihívás*/
#NapiCim{
    text-align: center;
    margin-bottom: 30px;
}
#NapiKi{
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
    color: white;
}

.modal-content{
    background-color: black;
}

#NKbutton{
    text-align: center;
    color: black;
}
#NKbutton button{
    text-align: center;
    color: black;
}

#lablec{
    font-size: 30px;
}

#lablec_vonal{
    color: red;
}

#lablec_vonal_1{
    color: red;
    padding-top: 30px;
}


.grid-container_lablec{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;

}

.lablec_kep{
    height: 90%;
    width: 90%;
}

.grid-item__lablec{
    padding-top: 20px;
}

#lepj_kapcs{
    text-align: center;
}

#cim{
 text-align: center;
 margin-top: 80px;
}

#telfon{
    width: 45%;
    float: left;
    text-align: right;
}

#email{
    width: 45%;
    float: right;
}

#tel_email{
    margin-left: auto;
    margin-right: auto;
}



.offcanvas{
    --bs-offcanvas-width: 200px;
}

ul[class="navbar-nav"]
{
    background: url(/kepek/Iron_HavenLogo.png);
}