
/*h1*/
h1{
    color: red;
}
/*body*/
body{
    color: white;
    background-color: black;
}
/*Napi kihívás*/
#NapiCim{
    text-align: center;
    margin-bottom: 30px;
}
#NapiKi{
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
    color: white;
}

/*Csapatunk*/
.carousel-inner img{
    height: 500px;
    margin-left: 50px;
    margin-right: 50px;

}
.w-100 {
    width: 800px;
}

.modal-content{
    background-color: black;
}

#NKbutton{
    text-align: center;
    color: black;
}
#NKbutton button{
    text-align: center;
    color: black;
}

#lablec{
    background-color: red;
}

#lablec_vonal{

}


.grid-container_lablec{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;

}

.lablec_kep{
    height: 10%;
    width: 10%;
    
}

.offcanvas{
    --bs-offcanvas-width: 200px;
}

ul[class="navbar-nav"]
{
    background: url(/kepek/Iron_HavenLogo.png);
}