body{
    color: white;
    background-color: black;
}
h1{
    color: red;
    text-align: center;
}
#kep{

    float: left;

   
}
#kepp{
    height: 450px;
    width: 450px;
    margin-top: 50px;
    margin-left: 50px;
}




#leiras{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}

#kosarba{
    text-align: center;
    margin-top: 250px;

}
.btn-lg{
    height: 150px;
    width: 300px;
    border-radius: 25px;
}
.btn-md{
    border-radius: 8px;
}

.grid-container_termekek{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}


#sz1{

    text-align: center;
    grid-area: 1 / 2 / 2  / 5;
  
}

#ar{

    text-align: center;
   grid-area:  2 / 3 / 3 / 4;

}

.dropdown{

    text-align: center;
    grid-area: 3 / 4 / 4 / 3;
}




@media only screen and (max-width: 1000px){
    #kepp{
        height: 350px;
        width: 350px;
        margin-top: 50px;
        margin-left: 50px;
    }
    
}
@media only screen and (max-width: 850px){
    #kepp{
        height: 250px;
        width: 250px;
        margin-top: 50px;
        margin-left: 50px;
    }
    
}
@media only screen and (max-width: 860px){

    .grid-container_termekek{

        grid-template-rows: repeat(3, 1fr);
        
    }
    
}

@media only screen and (max-width: 500px){

    #kepp{
        height: 150px;
        width: 150px;
        margin-top: 50px;
        margin-left: 50px;
    }

}

@media only screen and (max-width: 450px){

    .grid-container_termekek{
        margin-top: 100px;
        display: block;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
    }

    #kepp{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #kep{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

}
