body{
    background-color: black;
    color: white;
    height: auto;
}
#fejlecalattinav{
    height: 100px;
}
/* Danié nem hozzányulni!*/
.offcanvas{
    --bs-offcanvas-width: 200px;
}

.navbar{
    background: url(/kepek/Iron_HavenLogo.png) no-repeat;
    background-size: 220px 100%;
    background-position: 50%;
}

nav .container-fluid div:last-child{
    height: 120px;
}

.navbar>.container-fluid{
    justify-content: flex-end;
}

.navbar-toggler{
    margin: 50% 0px;
}

.nav-link{
    font-size: 24px;
}

.nav-item, .flex-fill > a{
    color: white;
    --bs-nav-link-hover-color: white;
}

.active{
    font-size: 32px;
}

.offcanvas-header{
    height: 120px;
}

a[class="nav-link border-bottom border-3 border-danger"]{
    --bs-nav-link-padding-x: 1.35rem;
    --bs-nav-link-padding-y: 0rem;
    width: fit-content;
    margin-bottom: -20px;
}

a[class="nav-link"] img{
    width: 70px;
    height: 70px;
}

@media only screen and (max-width: 610px){
    a[class="nav-link border-bottom border-3 border-danger"]
    {
        font-size: 18px;
        --bs-nav-link-padding-x: 1rem;
    }

    a[class="nav-link"] img{
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 530px){
    a[class="nav-link border-bottom border-3 border-danger"]
    {
        font-size: 16px;
        --bs-nav-link-padding-x: 0.85rem;
    }

    a[class="nav-link"] img{
        width: 40px;
        height: 40px;
    }
}

@media only screen and (max-width: 440px){
    a[class="nav-link border-bottom border-3 border-danger"]
    {
        font-size: 14px;
        --bs-nav-link-padding-x: 0.5rem;
    }

    a[class="nav-link"] img{
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 390px){
    .navbar{
        background: url(/kepek/Iron_HavenLogo.png) no-repeat;
        background-size: 180px 100%;
        background-position: 50%;
    }
}

/*-----------------*/

@media only screen and (max-width: 767px){
    nav .container-fluid div:last-child{
        height: 100%;
    }
}

.grid-container_kreatin{
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    text-align: center;

}
.grid-container_start{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
    text-align: center;

}
.start{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
}

.termek{
    height: 260px;
    width: 260px;
}

.cimkek{

    float: left;
    margin-left: 130px;
    margin-bottom: 0px;
    border-bottom: red solid 2px;
    margin-top: 40px;
}
.cimkestart{
    margin-bottom: 20px;
    border-bottom: red solid 2px;
    text-align: center;
}
@media  only screen and (max-width: 1029px){
    .cimkek{
        margin-left: 60px;
    }
}

@media  only screen and (max-width: 900px){
   
    .grid-container_kreatin{
        margin-top: 30px;
        display: block;
    }

    .start{
        width: 450px;
        height: 300px;
    }

    .cimkek{
        float: none;
        width: 80px;
        margin: 40px auto 0px;
    }
}

@media  only screen and (max-width: 500px){
   
    .start{
        width: 275px;
        height: 190px;
    }
    .termek{
        height: 160px;
        width: 160px;
    }
    a[class="nav-link cimkestart"]{
        font-size: 150%;
        padding: 0px;
        width: fit-content;
        margin-bottom: -20px;
    }
}