body{
    background-color: black;
    color: white;
}
#fejlecalattinav{
    height: auto;
}
.grid-container_feherje{
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    text-align: center;

}

.grid-container_kreatin{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    text-align: center;

}
.grid-container_start{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
    text-align: center;

}
.start{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 400px;
}

.termek{
    height: 260px;
    width: 260px;
}

.cimkek{

    float: left;
    margin-left: 60px;
    margin-bottom: 0px;
}